/* Education component container */
.education-container {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* When the education component becomes visible */
.education-container.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Styling for links */
.education-container a {
    color: #387ed1;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 20px;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .education-container .col {
        text-align: center;
        margin-bottom: 20px;
    }

    a {
        display: block;
        margin: 10px 0;
    }
}